header nav {
  background: #2d5f6d;
  padding: 1rem 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}
header nav ul li a:hover {
  background: #8BC34A; color: #2d5f6d;
}
